#login .text-gradient {
  background: linear-gradient(to right,  #121FCF, #CF1512);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#register .text-gradient {
  background: linear-gradient(to right,  #121FCF, #CF1512);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}